.component-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.login-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.logout-button {
  margin-top: 10px;
  background-color: #f10d0d; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.protected {
  background-color: rgb(208, 241, 20);
  border-radius: 15px;
  color:rgb(0, 121, 46);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.public {
  margin-left: 20px;
  background-color: rgb(20, 208, 241);
  border-radius: 15px;
  color:rgb(57, 0, 121);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.student-list {
  margin-left: 20px;
  background-color: rgb(15, 231, 202);
  border-radius: 15px;
  color:rgb(8, 124, 192);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.clear {
  margin-left: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border-color: red;
  color:rgb(192, 14, 8);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.clear:hover {
  background-color: red;
  color: white;
}

.clear:disabled {
  background-color: rgb(255, 255, 255);
  color:rgb(192, 14, 8);
  cursor: not-allowed;
}

ul {
  list-style-type: none;
}

table {
  margin-top: 20px;
}
th, td {
  padding: 10px 20px;
  font-size: 20px;
}

h4 {
  font-size: 30px;
  color:rgb(8, 124, 192);
}

.res-data {
  font-size: 20px;
  color:rgb(8, 124, 192);
}
